@{
    Layout = null;
}
@model UserLoginDto

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş - Proje Yönetim Sistemi</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link href="~/AdminPanel/Css/page-auth.css" rel="stylesheet">
</head>
<body>
    <div class="login-container">
        <div class="login-form animate__animated animate__fadeInDown">
            <h2>Giriş Yap</h2>
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">
                    @TempData["SuccessMessage"]
                </div>
            }
            @if (TempData["ErrorMessage"] != null)
            {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
            }
            <form asp-controller="Auth" asp-action="Login" method="POST">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="Email" for="email">Email Adresiniz:</label>
                    <input asp-for="Email" type="text" id="email" name="email" placeholder="Lütfen Email Giriniz" required>
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <label for="password">Şifre:</label>
                    <input asp-for="Password" type="password" id="password" name="password" placeholder="*********" required>
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" asp-for="RememberMe" class="form-check-input" id="rememberMe">
                    <label class="form-check-label" asp-for="RememberMe" for="rememberMe">Beni Hatırla</label>
                </div>
                <button type="submit" class="btn btn-login">Giriş Yap</button>
            </form>
            <p>Platformda yeni misin? <a asp-area="" asp-controller="Home" asp-action="Index" class="btn-purple">Hemen Üye Ol</a></p>
        </div>
    </div>

    <!-- Bootstrap JS ve jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
        @if (TempData["SuccessMessage"] != null)
        {
            <text>toastr.success("@TempData["SuccessMessage"]"); </text>
        }
                    if (TempData["ErrorMessage"] != null) {
                <text>toastr.error("@TempData["ErrorMessage"]"); </text>
            }
        });
    </script>
</body>
</html>
