@model List<ProjectDto>

<div id="loading">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="admin-container hidden">
    <div class="admin-content">
        <h2>Hoş Geldiniz!</h2>
        <p>Burada yönetici panelinin içeriği yer alacak.</p>
    </div>
</div>