@model List<ProjectDto>
<!-- İçerik -->
<div class="admin-container">
    <!-- Yönetici paneli yan menü -->
    <div class="admin-sidebar">
        <h4>Yönetici Paneli</h4>
        <ul class="nav flex-column mt-4">
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="nav-link active"><i class='bx bxs-home'></i> Ana Sayfa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class='bx bxs-dashboard'></i> Gösterge Paneli</a>
            </li>
            <li class="modal-header small text-left">
                <span class="header">Sayfa Yönetimi</span>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Project" asp-action="Index" class="nav-link active"><i class='bx bx-spreadsheet'></i> Proje Yönetimi</a>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="SocialMedia" asp-action="Index" class="nav-link active"><i class='bx bxl-meta'></i> Medya Yönetimi</a>
            </li>

            <li class="nav-item">
                <a asp-area="Admin" asp-controller="UserManagment" asp-action="Index" class="nav-link"><i class='bx bx-user'></i> Kullanıcı Yönet</a>
            </li>
            </li>
            <li class="modal-header small text-left">
                <span class="header">Kullanıcılar</span>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="User" asp-action="Index" class="nav-link"><i class='bx bxs-user-detail'></i> Kullanıcılar</a>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Role" asp-action="Index" class="nav-link"><i class='bx bxs-lock-open-alt'></i> Role</a>
            </li>
            <li class="modal-header small text-left">
                <span class="header">Ayarlar</span>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Smtp" asp-action="Index" class="nav-link"><i class='bx bxs-cog' ></i> Smtp Ayarları</a>
            </li>
            <li class="modal-header small text-left">
                <span class="header">Silinenler</span>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Project" asp-action="DeletedProjects" class="nav-link"><i class='bx bxs-trash'></i> Projeler</a>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="SocialMedia" asp-action="DeletedMedias" class="nav-link"><i class='bx bxs-trash'></i> Medya</a>
            </li>
        </ul>
    </div>
    <!-- Yönetici paneli içerik -->
    <div class="admin-content">
        <h2>Hoş Geldiniz!</h2>
        <p>Burada yönetici panelinin içeriği yer alacak.</p>
    </div>
</div>
