@model List<ProjectDto>
<!-- İçerik -->
<div class="admin-container">
    <!-- Yönetici paneli yan menü -->
   
    <!-- Yönetici paneli içerik -->
    <div class="admin-content">
        <h2>Hoş Geldiniz!</h2>
        <p>Burada yönetici panelinin içeriği yer alacak.</p>
    </div>
</div>
