@model UserProfileDto
<div id="loading">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="container flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Profil Ayarları /</span> Profilim</h4>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills flex-column flex-md-row mb-3">
                <li class="nav-item">
                    <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i> Profil</a>
                </li>
            </ul>
            <div class="card mb-4">
                <form asp-area="" asp-controller="User" asp-action="Profile" method="POST" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <h5 class="card-header">Profil Bilgilerim</h5>
                    <div class="card-body">
                        <div class="d-flex align-items-start align-items-sm-center gap-4">
                            <img src="data:image/png;base64,@(Convert.ToBase64String(Model.Image.ImageData))" alt="Kullanıcı Resmi" height="100" width="100" id="uploadedAvatar">
                            <div class="button-wrapper " style="margin-left:40px;">
                                <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                    <span class="d-none d-sm-block">Yeni Fotoğraf</span>
                                    <i class="bx bx-upload d-block d-sm-none"></i>
                                    <input type="file" id="upload" class="account-file-input" hidden="" accept="image/png, image/jpeg" name="upload">
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr class="my-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label asp-for="FirstName" for="firstName" class="form-label">İsim</label>
                                <input asp-for="FirstName" class="form-control" type="text" autofocus="">
                                <span asp-validation-for="FirstName"></span>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="LastName" for="lastName" class="form-label">Soyisim</label>
                                <input asp-for="LastName" class="form-control" type="text">
                                <span asp-validation-for="LastName"></span>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="Email" for="email" class="form-label">Email Adresi</label>
                                <input asp-for="Email" class="form-control" type="email" id="email" name="email" readonly>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="PhoneNumber" class="form-label" for="phoneNumber">Telefon Numarası</label>
                                <div class="input-group input-group-merge">
                                    <span class="input-group-text">Tr (+90)</span>
                                    <input asp-for="PhoneNumber" type="text" name="phoneNumber" class="form-control">
                                </div>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="CurrentPassword" class="form-label">Mevcut Şifreniz</label>
                                <input asp-for="CurrentPassword" type="password" class="form-control">
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="NewPassword" class="form-label">Yeni Şifre</label>
                                <input asp-for="NewPassword" type="password" class="form-control">
                            </div>
                        </div>
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary me-2">Profili Güncelle</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    document.getElementById('upload').addEventListener('change', function (event) {
        var input = event.target;

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                document.getElementById('uploadedAvatar').src = e.target.result;
            }

            reader.readAsDataURL(input.files[0]);
        }
    });
</script>

<style>
    .form-label {
        font-weight: bold;
        color: #333;
    }

    .form-select {
        width: 100%;
        padding: 0.375rem 0.75rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        border: 1px solid #3e2481;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

        .form-select option {
            color: #495057;
        }
    /* Styles for selected users container */
    .selected-users-container {
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
    /* Styles for individual user items */
    .selected-user-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 10px;
        margin-bottom: 5px;
        background-color: #e9ecef;
        border-radius: 3px;
    }

        .selected-user-item span {
            margin-right: 10px;
            font-weight: 500;
        }

        .selected-user-item .remove-user-btn {
            cursor: pointer;
            color: #ff0000;
            font-weight: bold;
        }
</style>
