@model AppUser

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle user-dropdown" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src=data:image/png;base64,@(Convert.ToBase64String(Model.Image.ImageData)) alt="Kullanıcı Resmi">
                <span>@Model.FirstName @Model.LastName</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a asp-area="" asp-controller="User" asp-action="Profile" class="dropdown-item">Profilim</a>
                <div class="dropdown-divider"></div>
                <a asp-area="Admin" asp-controller="Auth" asp-action="Logout" class="dropdown-item">Çıkış Yap</a>
            </div>
        </li>
    </ul>
</div>